@import "tailwindcss";

:root {
  --dark-navy: #261676;
  --blue: #2463ff;
  --white: #ffffff;
}

@theme inline {
  --color-dark-navy: var(--dark-navy);
  --color-blue: var(--blue);
  --color-white: var(--white);
}

body {
  background: var(--dark-navy);
  color: var(--white);
}

@utility heading-xl {
  @apply text-[136px] leading-[120%] -tracking-[0.5%];
}

@utility heading-l {
  @apply text-[88px] leading-[120%];
}

@utility heading-m {
  @apply text-[48px] leading-[120%] tracking-[5%] uppercase;
}

@utility heading-s {
  @apply text-[32px] leading-[120%] tracking-[5%] uppercase;
}

@utility body {
  @apply text-[26px] leading-[120%] tracking-[5%];
}

@utility blue-white-gradient {
  @apply bg-gradient-to-b from-[#67B6FF] to-white bg-clip-text text-transparent;
}

@utility pink-blue-gradient {
  @apply bg-gradient-to-b from-[#FE71FE] to-[#7199FF] bg-clip-text text-transparent;
}
